<h1>$band.getBandName()</h1>
  <br>
<h2>Genre: $band.getGenre()</h2>
  <br>
#if ($band.getVenues())
  <h3>All played Venues:</h3>
#end
<ul>
  #foreach ($venue in $band.getVenues())
    <li><a href="/venues/$venue.getId()">$venue.getVenueName()</a></li>
  #end
</ul>
<h4><a href="/bands">Go back</a><h4>
